nacid/src/com/nacid/data/external/applications/xml/applications.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ext_applications_xml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext_application_record" />
				<xs:element ref="ext_training_course_record" />
				<!-- <xs:element ref="ext_application_attachment_record" minOccurs="0" maxOccurs="unbounded" /> -->
                <xs:element ref="ext_diploma_issuer_record"  minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ext_training_course_training_location_record"  minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ext_person_record" />
				<xs:element ref="ext_purpose_of_recognition_record" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ext_graduation_way_record" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ext_training_form_record" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ext_application_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="applicantId" type="xs:int" minOccurs="0"/>
				<xs:element name="differentDiplomaNames" type="xs:int"/>
				<xs:element name="trainingCourseId" type="xs:int"/>
				<xs:element name="homeCountryId" type="xs:int"/>
				<xs:element name="homeCity" type="xs:string"/>
				<xs:element name="homePostCode" type="xs:string"/>
				<xs:element name="homeAddressDetails" type="xs:string"/>
				<xs:element name="homeIsBg" type="xs:int" minOccurs="0"/>
				<xs:element name="bgCity" type="xs:string"/>
				<xs:element name="bgPostCode" type="xs:string"/>
				<xs:element name="bgAddressDetails" type="xs:string"/>
				<xs:element name="timeOfCreation" type="xs:dateTime"/>
				<xs:element name="homePhone" type="xs:string"/>
				<xs:element name="bgPhone" type="xs:string"/>
				<xs:element name="summary" type="xs:string"/>
				<xs:element name="applicationStatus" type="xs:int"/>
				<xs:element name="applicationId" type="xs:int" minOccurs="0"/>
				<xs:element name="personalDataUsage" type="xs:int" minOccurs="0"/>
				<xs:element name="dataAuthentic" type="xs:int" minOccurs="0"/>
				<xs:element name="applicantType" type="xs:int"/>
				<xs:element name="companyId" type="xs:int" minOccurs="0"/>
				<xs:element name="deputy" type="xs:boolean" minOccurs="0"/>
				<xs:element name="representativeId" type="xs:int" minOccurs="0"/>
				<xs:element name="representativeType" type="xs:string" minOccurs="0"/>
				<xs:element name="contactDetailsId" type="xs:int" minOccurs="0"/>
				<xs:element name="typePayment" type="xs:short" minOccurs="0"/>
				<xs:element name="deliveryType" type="xs:int" minOccurs="0"/>
				<xs:element name="declaration" type="xs:boolean" minOccurs="0"/>
				<xs:element name="courierNameAddress" type="xs:string" minOccurs="0"/>
				<xs:element name="outgoingNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="internalNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="isExpress" type="xs:boolean" minOccurs="0"/>
				<xs:element name="entryNum" type="xs:string" minOccurs="0"/>
				<xs:element name="documentReceiveMethodId" type="xs:int" minOccurs="0"/>
				<xs:element name="applicantPersonalIdDocumentType" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ext_training_course_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="diplomaSeries" type="xs:string" minOccurs="0"/>
				<xs:element name="diplomaNum" type="xs:string"/>
				<xs:element name="diplomaRegistrationNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="diplomaDate" type="xs:date"/>
				<xs:element name="fname" type="xs:string"/>
				<xs:element name="sname" type="xs:string"/>
				<xs:element name="lname" type="xs:string"/>
				<xs:element name="isJointDegree" type="xs:int" minOccurs="0"/>
				<xs:element name="trainingStart" type="xs:date"/>
				<xs:element name="trainingEnd" type="xs:date"/>
				<xs:element name="trainingDuration" type="xs:double" minOccurs="0"/>
				<xs:element name="durationUnitId" type="xs:int" minOccurs="0"/>
				<xs:element name="credits" type="xs:decimal" minOccurs="0"/>
				<xs:element name="eduLevelId" type="xs:int" minOccurs="0"/>
				<xs:element name="qualificationId" type="xs:int" minOccurs="0"/>
				<xs:element name="qualificationTxt" type="xs:string"/>
				<xs:element name="schoolCountry" type="xs:int" minOccurs="0"/>
				<xs:element name="schoolCity" type="xs:string"/>
				<xs:element name="schoolName" type="xs:string"/>
				<xs:element name="schoolGraduationDate" type="xs:date"/>
				<xs:element name="schoolNotes" type="xs:string"/>
				<xs:element name="prevDiplomaCountry" type="xs:int" minOccurs="0"/>
				<xs:element name="prevDiplomaCity" type="xs:string"/>
				<xs:element name="prevDiplomaUniversityId" type="xs:int" minOccurs="0"/>
				<xs:element name="prevDiplomaUiniversityTxt" type="xs:string"/>
				<xs:element name="prevDiplomaEduLevelId" type="xs:int" minOccurs="0"/>
				<xs:element name="prevDiplomaGraduationDate" type="xs:date"/>
				<xs:element name="prevDiplomaNotes" type="xs:string"/>
				<xs:element name="prevDiplomaSpecialityId" type="xs:int" minOccurs="0"/>
				<xs:element name="prevDiplomaSpecialityTxt" type="xs:string" minOccurs="0"/>
				<xs:element name="trainingInstId" type="xs:int" minOccurs="0"/>
				<xs:element name="trainingInstTxt" type="xs:string"/>
				<xs:element name="graduationDocumentTypeId" type="xs:int" minOccurs="0"/>
				<xs:element name="creditHours" type="xs:int" minOccurs="0"/>
				<xs:element name="ectsCredits" type="xs:int" minOccurs="0"/>
				<xs:element name="ownerId" type="xs:int"/>
				<xs:element name="thesisTopic" type="xs:string" minOccurs="0"/>
				<xs:element name="thesisTopicEn" type="xs:string" minOccurs="0"/>
				<xs:element name="profGroupId" type="xs:int" minOccurs="0"/>
				<xs:element name="thesisDefenceDate" type="xs:date" minOccurs="0"/>
				<xs:element name="thesisBibliography" type="xs:int" minOccurs="0"/>
				<xs:element name="thesisVolume" type="xs:int" minOccurs="0"/>
				<xs:element name="thesisLanguageId" type="xs:int" minOccurs="0"/>
				<xs:element name="thesisAnnotation" type="xs:string" minOccurs="0"/>
				<xs:element name="thesisAnnotationEn" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ext_diploma_issuer_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="diplomaId" type="xs:int" />
                <xs:element name="universityId" type="xs:int" minOccurs="0" />
                <xs:element name="universityTxt" type="xs:string" minOccurs="0"/>
                <xs:element name="orderNumber" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- 
	<xs:element name="ext_application_attachment_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
                <xs:element name="applicationId" type="xs:int" />
                <xs:element name="docDescription" type="xs:string" />
                <xs:element name="docTypeId" type="xs:int" minOccurs="0" />
                <xs:element name="docContent" type="xs:string" minOccurs="0"/>
                <xs:element name="contentType" type="xs:string" />
                <xs:element name="fileName" type="xs:string" />
                <xs:element name="copyTypeId" type="xs:int" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    -->
	<xs:element name="ext_person_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="fname" type="xs:string" />
				<xs:element name="sname" type="xs:string" minOccurs="0"/>
				<xs:element name="lname" type="xs:string" />
				<xs:element name="civilId" type="xs:string" />
				<xs:element name="civilIdType" type="xs:int" minOccurs="0" />
				<xs:element name="birthCountryId" type="xs:int" minOccurs="0" />
				<xs:element name="birthCity" type="xs:string" />
				<xs:element name="birthDate" type="xs:date" />
				<xs:element name="citizenshipId" type="xs:int" minOccurs="0" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="hashCode" type="xs:string" minOccurs="0"/>
				<xs:element name="userId" type="xs:int" minOccurs="0" />  
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="ext_purpose_of_recognition_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="applicationId" type="xs:int" />
				<xs:element name="purposeOfRecognitionId" type="xs:int" minOccurs="0" />
				<xs:element name="notes" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ext_graduation_way_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="trainingCourseId" type="xs:int" />
				<xs:element name="graduationWayId" type="xs:int" minOccurs="0" />
				<xs:element name="notes" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
    <xs:element name="ext_training_form_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="trainingCourseId" type="xs:int" />
                <xs:element name="trainingFormId" type="xs:int" minOccurs="0" />
                <xs:element name="notes" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ext_training_course_training_location_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="trainingCourseId" type="xs:int" />
                <xs:element name="trainingCountryId" type="xs:int" minOccurs="0" />
                <xs:element name="trainingCity" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
